name: CI - Mobile deploy

on:
  push:
    paths:
      - 'apps/mobile/**'
    branches:
      - main

jobs:
  build:
    name: Mobile Deploy
    runs-on: ubuntu-latest
    
    steps:     
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: npm

      - name: Setup EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          packager: npm
          token: ${{ secrets.EAS_EXPO_TOKEN }}

      - name: Install dependencies
        run: npm ci

      - name: Get config file
        env:
          GOOGLE_SERVICES_64: ${{ secrets.EAS_GOOGLE_PLAY_API }}
        run: |
          echo $GOOGLE_SERVICES_64 > google-services.json.b64
          base64 -d -i google-services.json.b64 > apps/mobile/google-services.json

      - name: Build
        run: cd apps/mobile && eas build --platform all --profile production --non-interactive

      - name: Submit
        run: cd apps/mobile && EXPO_APPLE_APP_SPECIFIC_PASSWORD=${{ secrets.EAS_APPLE_APP_SPECIFIC_PASSWORD }} eas submit --platform all --profile preview --latest